<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('#loadingImg').hide();
        $.ajax({
        url: "/",
        beforeSend:function() {
            $('#loadingImg').show();
        },
        success:function(response) {
            $('#loadingImg').hide();
            //process the successful response 
            alert(response);
        },
        error:function(response) {
            $('#loadingImg').hide();
            //process the error response 
        } 
        });
    </script>
</head>
<body>
    <img name="loadingImage" id="loadingImg" src="http://www.ppimusic.ie/images/loading_anim.gif "  width="100px" height="100px" />
</body>
</html>